<footer>
  <div class="container h-100">
    <div class="d-flex justify-content-between align-items-center h-100 flex-wrap">
      <div class="footer-geolocation">
        <div class="footer-geolocation__company">
          Elsässer Kältetechnik
        </div>
        <div class="footer-geolocation__address">
          <p class="footer-geolocation__address-p">Königsallee 14</p>
          <p class="footer-geolocation__address-p">40212 Düsseldorf</p>
        </div>
      </div>
      <div class="footer-contacts">
        <div class="footer-contacts__p">
          Kontakt
        </div>
        <div class="footer-contact__links">
          <div class="contact-link">
            Telefon: 
            <a class="contact-link__phone" href="tel:+49-0-211-9232-3052">+49 (0) 211 9232 3052</a>
          </div>
          <div class="contact-link">
            E-Mail:  
            <a class="contact-link__email" href="mailto:info@elsasser-technik.de">info@elsasser-technik.de</a>
          </div>
        </div>
      </div>
      <div class="footer-shortlinks">
        <div class="footer-shortlinks__p">
          Shortlinks
        </div>
        <div class="footer-shortlinks__links">
          <div class="d-flex flex-column w-100 w-md-50 w-lg-unset">
            <a class="shortlinks-link" href="#">Kontakt</a>
            <a class="shortlinks-link" href="#">Rückruf vereinbaren </a>
          </div>
          <div class="d-flex flex-column w-100 w-md-50 w-lg-unset" >
            <a class="shortlinks-link" href="#">Impressum</a>
            <a class="shortlinks-link" href="#">Datenschutz</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="js/main.min.js"></script>