<header>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <a href="#" class="header-logo__link">
        <img src="./img/logo.png" alt="logo">
      </a>
      <nav class="header-nav navbar p-0">
        <ul class="header-nav__menu">
          <li class="nav-menu__item">
            <a href="#" class="nav-menu__link">Über Uns</a>
          </li>
          <li class="nav-menu__item dropdown">
            <a class="nav-menu__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Produkte
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Produkte 1</a>
              <a class="dropdown-item" href="#">Produkte 2</a>
            </div>
          </li>
          <li class="nav-menu__item dropdown">
            <a class="nav-menu__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Peripherietechnik
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Peripherietechnik 1</a>
              <a class="dropdown-item" href="#">Peripherietechnik 2</a>
            </div>
          </li>
          <li class="nav-menu__item dropdown">
            <a class="nav-menu__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dienstleistungen
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Dienstleistungen 1</a>
              <a class="dropdown-item" href="#">Dienstleistungen 2</a>
            </div>
          </li>
          <li class="nav-menu__item">
            <a href="#" class="nav-menu__link">Klimatechnik</a>
          </li>
          <li class="nav-menu__item">
            <a href="#" class="nav-menu__link">Kontakt</a>
          </li>
          <li class="nav-menu__item">
            <a href="#" class="nav-menu__link">Presse</a>
          </li>
        </ul>
      </nav>
      <nav class="heder-mobile__menu">
        <button class="heder-button__menu d-block d-md-none">
          <img src="../img/menu.png" alt="">
        </button>
        <div class="heder-menu d-flex d-md-none">
          <ul class="menu-items">
            <li class="heder-menu__item-link">
              <a href="#" class="heder-menu__link">Über Uns</a>
            </li>
            <li class="heder-menu__item-link">
              <a class="heder-menu__link">
                Produkte
              </a>
              <div class="heder-menu__sub-items">
                <a class="heder-menu__sub-link" href="#">Produkte 1</a>
                <a class="heder-menu__sub-link" href="#">Produkte 2</a>
              </div>
            </li>
            <li class="heder-menu__item-link">
              <a class="heder-menu__link">
                Peripherietechnik
              </a>
              <div class="heder-menu__sub-items">
                <a class="heder-menu__sub-link" href="#">Peripherietechnik 1</a>
                <a class="heder-menu__sub-link" href="#">Peripherietechnik 2</a>
              </div>
            </li>
            <li class="heder-menu__item-link">
              <a class="heder-menu__link">
                Dienstleistungen
              </a>
              <div class="heder-menu__sub-items">
                <a class="heder-menu__sub-link" href="#">Dienstleistungen 1</a>
                <a class="heder-menu__sub-link" href="#">Dienstleistungen 2</a>
              </div>
            </li>
            <li class="heder-menu__item-link">
              <a href="#" class="heder-menu__link">Klimatechnik</a>
            </li>
            <li class="heder-menu__item-link">
              <a href="#" class="heder-menu__link">Kontakt</a>
            </li>
            <li class="heder-menu__item-link">
              <a href="#" class="heder-menu__link">Presse</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="overlley"></div>
    </div>
  </div>
</header> 